body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.searchBar {
  width: 100%;
}

::-webkit-scrollbar {
  /* display: none; */
}

.pointer
{
  cursor: pointer;
}

div table {
  border-collapse: separate !important;
  border-spacing: 0;
}

html, body, #root {
  height: 100%
}